<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://apis.google.com/js/platform.js"></script>
    <meta name="google-signin-client_id" content="974557972870-ai1nmveefp67n6s72poiabj976qbmfi4.apps.googleusercontent.com">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/f139e98952.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/product-css.css">
    <title>Comfy - Your ez shopping site</title>
</head>
<body>
    <div id="product">
        <header>
            <div class="logo">
                <h2>Comfy</h2>
            </div>
            <nav id="menu" class="menu">
                <a href="/" class="btn">Home</a>
                <a href="/about" class="btn">About</a>
                <a href="/categories" class="btn">Categories</a>
                <a href="/cart" class="btn"><i class="fas fa-shopping-cart"></i><span v-if="cartLength != 0"> {{cartLength}}</span></a>
                <a v-if="thisUser.userid != undefined" href="/user" class="btn"><i class="fas fa-user"></i> {{ thisUser.first_name }}</a>
                <div id="google-signin-button" class="g-signin2 btn" data-width="250" data-height="25" data-longtitle="true"></div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="product" v-if="product.pid != null">
                    <div class="productImg">
                        <img :src="product.picture">
                    </div>
                    <div class="productContent">
                        <h3>{{ product.pname }} ({{ category.catName}})</h3>
                        <div v-if="deal.dealid != null">
                            <h3><strike> {{ product.price }} </strike> :-</h3>
                            <h3>Now {{ deal.discount * 100 }}% off</h3>
                            <h3>{{ product.price * (1 - deal.discount) }} :-</h3>
                        </div>
                        <h3 v-else>{{ product.price }} :-</h3>
                        <p>{{ product.pdescription }}</p>
                        <button class="btn" @click="addToCart(product.pid)">Add to cart</button>
                    </div>
                </div>
                
                <div v-else>
                    <h2>404 - Product not found</h2>
                </div>
                <div v-if="thisUser.userid != null" class="RatingContainer">
                    <div class="ratingFunction">
                        <select id="score" class="form-select" aria-label="Default select example">
                            <option selected>Choose a rating</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label for="textArea" class="form-label"></label>
                        <textarea class="form-control" id="textArea" rows="3"></textarea>
                        <button type="submit" class="btn" @click="postReview()" >Submit</button>
                    </div>
                </div>
                <div class="ratingContent">
                    <h3 v-if="ratings[0] != null">Average Score {{ avgScore }}</h3>
                    <table class="table" v-if="ratings[0] != null">
                        <thead>
                            <tr>
                            <th scope="col">Score</th>
                            <th scope="col">Comment</th>
                            <th scope="col">User</th>
                            </tr>
                        </thead>
                        <tbody class="table-rows" v-for="rating in ratings" :key="rating.ratid">
                            <tr>
                                <td>{{rating.score}}</td>
                                <td>{{rating.comment}}</td>
                                <td>{{rating.first_name}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 v-else-if="thisUser.userid != null">
                        Be the first to rate this product!
                    </h3>
                    <h3 v-else>
                        Login to give this product it's first rating
                    </h3>
                </div>
            </div>
        </main>
        <footer>
            <div class="footerContainer">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d64740.70869202557!2d15.463327463033773!3d60.48562285003771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46677c2bb1581a89%3A0xfe3e60e13e164c99!2zQm9ybMOkbmdl!5e0!3m2!1ssv!2sse!4v1647432220970!5m2!1ssv!2sse" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="info">
                    <h3>We are Comfy!</h3>
                    <p>We are a new upcoming men's fashion store</p>
                </div>
                <div class="links">
                    <h3>Links</h3>
                    <a href="/about">About us</a>
                </div>
                <div class="icons">
                    <h3>Contact Us</h3>
                    <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
                    <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
                    <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>
<script src="http://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script type="text/javascript">
    async function postData(url, data) {
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
            'Content-Type': 'application/json'
            // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json();
    };
    
    const vue = new Vue({
        el: '#product',
        data: {
            product: {},
            deal: {},
            category: {},
            thisUser: {},
            ratings: [],
            avgScore: {},
            cartLength: 0,
        },
        methods: {
            async init() {
                let self = this;
                const url = window.location.href.split('/');
                const id = url[url.length -1];
                //Gets the product
                $.getJSON('/api/product/' + id, function(pres){
                    if(pres.error)
                        return;

                    self.product = pres[0];
                    $.getJSON('/api/categories/' + self.product.catid, function(catres) {
                        if(pres.error)
                            return;
                        self.category = catres[0];
                    })
                    $.getJSON('/api/ratings/product/' + id, async function(rres){
                        if (rres.error)
                            return;
                        let ratings = rres;

                        if (ratings.length > 0) {
                            let avgScore = 0; 
                            for (let i = 0; i < ratings.length; ++i) {


                                await $.getJSON("/api/customer/user/" + ratings[i].userid, function(cres) {
                                    if (cres.error)
                                        return;
                                    ratings[i].first_name = cres[0].first_name;
                                    console.log(ratings[i].first_name);
                                });

                                avgScore += parseInt(ratings[i].score);
                            }
                            self.avgScore = avgScore / ratings.length;
                        
                        }
                        self.ratings = ratings;

                    })
                });

                $.getJSON("/api/deal/" + id, function(res) {
                    if (!res.error) {
                        self.deal = res[0];
                    }
                    else {
                        // No deal was found
                    }
                });
                this.updateCartLength();
            },
            updateCartLength() {
                let cartLength = 0;
                for (let key in localStorage) {
                    if (!localStorage.hasOwnProperty(key)) continue; 
                    if (isNaN(key)) continue;
                    ++cartLength;
                }

                this.cartLength = cartLength;
            },
            addToCart(pid) {
                localStorage.setItem(pid, 1);
                this.updateCartLength();
            },
            async postReview() {
                if (this.thisUser == undefined) alert("You have to be logged in to post a review");
                let data = {
                    score: document.getElementById("score").value,
                    comment: document.getElementById("textArea").value,
                    pid: this.product.pid,
                    userid: this.thisUser.userid
                }
                await postData("/api/rating", data);
                this.init();
            },
            async onSignIn(gUser) {
                let self = this;
                let id_token = gUser.getAuthResponse().id_token;

                let res = await postData("/api/login", { token: id_token });
                let user = res.user[0];

                await $.getJSON("/api/customer/" + user.cusid, async function (cusres) {
                    if (cusres.error)
                        return;
                    
                    user.first_name = cusres[0].first_name;
                    user.last_name  = cusres[0].last_name;
                    user.email      = cusres[0].email;
                    user.address    = cusres[0].address;
                });
                self.thisUser = user;
            }
        },
        mounted() {
            this.init();
            gapi.signin2.render('google-signin-button', {
                onsuccess: this.onSignIn
            });
        }
    })
</script>
